In [1]:
from data import *
import requests

In [2]:
# Define Time Slices
year = ['1', '2']
month = [m for m in range(1, 13, 1)]
slices = [ f'year{y}month{m}' for y in year for m in month ]

# Break Up into groups of 5 due to Rate Limit
slices_split = [ slices[i:i+5] for i in range(0, len(slices), 5) ]

In [3]:
slices_split

[['year1month1', 'year1month2', 'year1month3', 'year1month4', 'year1month5'],
 ['year1month6', 'year1month7', 'year1month8', 'year1month9', 'year1month10'],
 ['year1month11', 'year1month12', 'year2month1', 'year2month2', 'year2month3'],
 ['year2month4', 'year2month5', 'year2month6', 'year2month7', 'year2month8'],
 ['year2month9', 'year2month10', 'year2month11', 'year2month12']]

In [4]:
with requests.Session() as s:
    
    historic_data = pd.DataFrame()
        
    for time_slices in slices_split:

        df_slices = get_time_series_intraday_extended_multi_slice(session=s, 
                                                                sym='SQ', 
                                                                interval='60min', 
                                                                time_slices=time_slices)
        historic_data = pd.concat([historic_data, df_slices])
        
        print(f'Current historic data shape: {historic_data.shape}')
        print('Made ~5 Calls <1 Min. Wait a Minute...')
        time.sleep(60)

        # We are pleased to provide free stock API service for our global community of users 
        # for up to 5 API requests per minute and 500 requests per day. If you would like to 
        # target a larger API call volume, please visit premium membership.

historic_data = historic_data.reset_index(drop=True)

Pulling intraday time series data for time_slice: year1month1
Pulling intraday time series data for time_slice: year1month2
Pulling intraday time series data for time_slice: year1month3
Pulling intraday time series data for time_slice: year1month4
Pulling intraday time series data for time_slice: year1month5
Current historic data shape: (1624, 6)
Made ~5 Calls <1 Min. Wait a Minute...
Pulling intraday time series data for time_slice: year1month6
Pulling intraday time series data for time_slice: year1month7
Pulling intraday time series data for time_slice: year1month8
Pulling intraday time series data for time_slice: year1month9
Pulling intraday time series data for time_slice: year1month10
Current historic data shape: (3237, 6)
Made ~5 Calls <1 Min. Wait a Minute...
Pulling intraday time series data for time_slice: year1month11
Pulling intraday time series data for time_slice: year1month12
Pulling intraday time series data for time_slice: year2month1
Pulling intraday time series data for time_slice: year2month2
Pulling intraday time series data for time_slice: year2month3
Current historic data shape: (4815, 6)
Made ~5 Calls <1 Min. Wait a Minute...
Pulling intraday time series data for time_slice: year2month4
Pulling intraday time series data for time_slice: year2month5
Pulling intraday time series data for time_slice: year2month6
Pulling intraday time series data for time_slice: year2month7
Pulling intraday time series data for time_slice: year2month8
Current historic data shape: (6304, 6)
Made ~5 Calls <1 Min. Wait a Minute...
Pulling intraday time series data for time_slice: year2month9
Pulling intraday time series data for time_slice: year2month10
Pulling intraday time series data for time_slice: year2month11
Pulling intraday time series data for time_slice: year2month12
Current historic data shape: (7470, 6)
Made ~5 Calls <1 Min. Wait a Minute...

In [11]:
# historic_data.to_csv('data/SQ.csv', index=False)

In [14]:
historic_data = pd.read_csv('data/SQ.csv')
historic_data

                     time    open      high     low     close   volume
0     2021-07-23 20:00:00  263.96  264.0000  263.51  263.9200     2648
1     2021-07-23 19:00:00  263.62  263.6500  263.50  263.5400      944
2     2021-07-23 18:00:00  264.00  264.1999  263.49  263.6400     7922
3     2021-07-23 17:00:00  264.00  264.2000  263.80  264.2000   134481
4     2021-07-23 16:00:00  263.95  264.4500  263.49  264.0700   914940
...                   ...     ...       ...     ...       ...      ...
7465  2019-08-05 10:00:00   66.25   66.7900   64.82   65.7749  4027304
7466  2019-08-05 09:00:00   67.90   69.7700   66.06   66.3000   147080
7467  2019-08-05 08:00:00   67.88   68.0000   66.35   66.6500    55333
7468  2019-08-05 07:00:00   68.00   68.0000   67.80   67.8200     2532
7469  2019-08-05 05:00:00   68.95   68.9500   66.90   66.9000      913

[7470 rows x 6 columns]