In [17]:
from data import *
import requests
import pandas as pd

In [12]:
# Define Time Slices
year = ['1', '2']
month = [m for m in range(1, 13, 1)]
slices = [ f'year{y}month{m}' for y in year for m in month ]

# Break Up into groups of 5 due to Rate Limit
slices_split = [ slices[i:i+5] for i in range(0, len(slices), 5) ]

In [13]:
slices_split

[['year1month1', 'year1month2', 'year1month3', 'year1month4', 'year1month5'],
 ['year1month6', 'year1month7', 'year1month8', 'year1month9', 'year1month10'],
 ['year1month11', 'year1month12', 'year2month1', 'year2month2', 'year2month3'],
 ['year2month4', 'year2month5', 'year2month6', 'year2month7', 'year2month8'],
 ['year2month9', 'year2month10', 'year2month11', 'year2month12']]

In [18]:
with requests.Session() as s:
    
    historic_data = pd.DataFrame()
        
    for time_slices in slices_split:

        df_slices = get_time_series_intraday_extended_multi_slice(session=s, 
                                                                sym='SQ', 
                                                                interval='60min', 
                                                                time_slices=time_slices)
        historic_data = pd.concat([historic_data, df_slices])
        
        print(f'Current historic data shape: {historic_data.shape}')
        print('Made ~5 Calls <1 Min. Wait a Minute...')
        time.sleep(60)

        # We are pleased to provide free stock API service for our global community of users 
        # for up to 5 API requests per minute and 500 requests per day. If you would like to 
        # target a larger API call volume, please visit premium membership.

historic_data = historic_data.reset_index(drop=True)

Pulling intraday time series data for time_slice: year1month1
Pulling intraday time series data for time_slice: year1month2
Pulling intraday time series data for time_slice: year1month3
Pulling intraday time series data for time_slice: year1month4
Pulling intraday time series data for time_slice: year1month5
Current historic data shape: (1639, 6)
Made ~5 Calls <1 Min. Wait a Minute...
Pulling intraday time series data for time_slice: year1month6
Pulling intraday time series data for time_slice: year1month7
Pulling intraday time series data for time_slice: year1month8
Pulling intraday time series data for time_slice: year1month9
Pulling intraday time series data for time_slice: year1month10
Current historic data shape: (3240, 6)
Made ~5 Calls <1 Min. Wait a Minute...
Pulling intraday time series data for time_slice: year1month11
Pulling intraday time series data for time_slice: year1month12
Pulling intraday time series data for time_slice: year2month1
Pulling intraday time series data for time_slice: year2month2
Pulling intraday time series data for time_slice: year2month3
Current historic data shape: (4836, 6)
Made ~5 Calls <1 Min. Wait a Minute...
Pulling intraday time series data for time_slice: year2month4
Pulling intraday time series data for time_slice: year2month5
Pulling intraday time series data for time_slice: year2month6
Pulling intraday time series data for time_slice: year2month7
Pulling intraday time series data for time_slice: year2month8
Current historic data shape: (6345, 6)
Made ~5 Calls <1 Min. Wait a Minute...
Pulling intraday time series data for time_slice: year2month9
Pulling intraday time series data for time_slice: year2month10
Pulling intraday time series data for time_slice: year2month11
Pulling intraday time series data for time_slice: year2month12
Current historic data shape: (7481, 6)
Made ~5 Calls <1 Min. Wait a Minute...

In [20]:
historic_data.to_csv('../data/SQ.csv', index=False)

In [21]:
historic_data = pd.read_csv('../data/SQ.csv')
historic_data

                     time      open    high       low     close   volume
0     2021-08-06 20:00:00  275.0999  275.10  274.8600  275.1000     3456
1     2021-08-06 19:00:00  275.0500  275.05  274.8600  275.0000     3649
2     2021-08-06 18:00:00  275.0000  275.15  274.9200  275.0000    21987
3     2021-08-06 17:00:00  275.1000  275.10  274.7600  275.0500    85583
4     2021-08-06 16:00:00  275.4300  277.07  274.7100  275.0650  1456906
...                   ...       ...     ...       ...       ...      ...
7476  2019-08-19 10:00:00   64.1200   64.24   63.2000   63.5298   997682
7477  2019-08-19 09:00:00   64.2500   64.26   63.6901   64.2400    22654
7478  2019-08-19 08:00:00   63.6600   64.30   63.6600   64.2500     6124
7479  2019-08-19 06:00:00   63.6200   63.62   63.6200   63.6200      100
7480  2019-08-19 05:00:00   63.6100   63.61   63.6100   63.6100      500

[7481 rows x 6 columns]